{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/cvsuwrapper.css' %}">
    </head>
    <body>
        
        <div class="wrapper">
            <h1>CVSU</h1>
             
              <div class="carousel">

                <div class="carousel-control-button left"><input type="radio" name="carousel-control-input"></div>
                <div class="carousel-control-button right"><input type="radio" name="carousel-control-input" checked></div>
        
                <div class="carousel-rotation-direction">
        
                        
                        <ul class="carousel-item-wrapper" style="--_num-elements: 8">
        
                            <li class="carousel-item" style="--_index: 1; top:150px; height:75px; border-radius:10px;--_image-url: url('{% static 'images/CSPEAR.png' %}')"><a href="{% url 'quiz_home' %}" target="_blank"><p>CSPEAR</p></a></li>
                            <li class="carousel-item" style="--_index: 2; top:150px; height:75px; border-radius:10px;--_image-url: url('{% static 'images/CVMBS.png' %}')"><a href="https://unsplash.com/de/fotos/ein-sehr-hohes-gebaude-mit-vielen-fenstern-3svDIdPOT6M" target="_blank"><p>CVMBS</p></a></li>
                            <li class="carousel-item" style="--_index: 3; top:150px; height:75px; border-radius:10px;--_image-url: url('{% static 'images/subcas.jpg' %}')"><a href="https://unsplash.com/de/fotos/die-spiegelung-eines-gebaudes-in-den-fenstern-eines-anderen-gebaudes-QT6ltyDT7UA" target="_blank"><p>CAS</p></a></li>
                            <li class="carousel-item" style="--_index: 4; top:150px; height:75px; border-radius:10px;--_image-url: url('{% static 'images/subceit.jpg' %}')"><a href="https://unsplash.com/de/fotos/nahaufnahme-des-weissen-gebaudes-tKnda8e9ejM" target="_blank"><p>CEIT</p></a></li>
                            <li class="carousel-item" style="--_index: 5; top:150px; height:75px; border-radius:10px;--_image-url: url('https://images.unsplash.com/photo-1713623210045-95d02b35c4a2?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')"><a href="https://unsplash.com/de/fotos/ein-hohes-gebaude-mit-zwei-balkonen-und-einer-uhr-sYg7bcIodC8" target="_blank"><p>CCJ</p></a></li>
                            <li class="carousel-item" style="--_index: 6; top:150px; height:75px; border-radius:10px;--_image-url: url('{% static 'images/CED.png' %}')"><a href="https://unsplash.com/de/fotos/eine-nahaufnahme-der-seite-eines-gebaudes-VvhIUx1lITA" target="_blank"><p>CED</p></a></li>
                            <li class="carousel-item" style="--_index: 7; top:150px; height:75px; border-radius:10px;--_image-url: url('https://images.unsplash.com/photo-1700846978475-5f4dd936c00a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')"><a href="https://unsplash.com/de/fotos/eine-wand-aus-metallquadraten-und-quadraten-a_XIDnN6C0Y" target="_blank"><p>CEMBS</p></a></li>
                            <li class="carousel-item" style="--_index: 8; top:150px; height:75px; border-radius:10px; --_image-url: url('{% static 'images/cafenr.png' %}')"><a href="https://unsplash.com/de/fotos/eine-nahaufnahme-einer-metallstruktur-mit-einem-himmelshintergrund-9u9t6gP8R-s" target="_blank"><p>CAFENR</p></a></li>
                            
                            <li class="carousel-ground"></li>

            
                    </ul>

                    <ul class="carousel-item-wrapper" style="--_num-elements: 8">
        
                        <li class="carousel-item item" style="--_index: 1; --_image-url: url('{% static 'images/CSPEAR.png' %}')"><a href="" target="_blank">Architecture Example 1</a></li>
                        <li class="carousel-item item" style="--_index: 2; --_image-url: url('{% static 'images/CVMBS.png' %}')"><a href="" target="_blank">Architecture Example 2</a></li>
                        <li class="carousel-item item" style="--_index: 3; --_image-url: url('{% static 'images/subcas.jpg' %}')"><a href="" target="_blank">Architecture Example 6</a></li>
                        <li class="carousel-item item" style="--_index: 4; --_image-url: url('{% static 'images/subceit.jpg' %}')"><a href="" target="_blank">Architecture Example 7</a></li>
                        <li class="carousel-item item" style="--_index: 5; --_image-url: url('https://images.unsplash.com/photo-1713623210045-95d02b35c4a2?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')"><a href="" target="_blank">Architecture Example 8</a></li>
                        <li class="carousel-item item" style="--_index: 6; --_image-url: url('{% static 'images/CED.png' %}')"><a href="" target="_blank">Architecture Example 9</a></li>
                        <li class="carousel-item item" style="--_index: 7; --_image-url: url('https://images.unsplash.com/photo-1700846978475-5f4dd936c00a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')"><a href="" target="_blank">Architecture Example 10</a></li>
                        <li class="carousel-item item" style="--_index: 8; --_image-url: url('{% static 'images/cafenr.png' %}')"><a href="https://unsplash.com/de/fotos/eine-nahaufnahme-einer-metallstruktur-mit-einem-himmelshintergrund-9u9t6gP8R-s" target="_blank">Architecture Example 11</a></li>
                        
                        <li class="carousel-ground"></li>

                </ul>    
        
                </div>
        
        </div>
    </body>
 </html>     