{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    {% if process == "connect" %}
        {% element h1 %}
            {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
        {% endelement %}
        {% element p %}
            {% blocktrans with provider.name as provider %}You are about to connect a new third-party account from {{ provider }}.{% endblocktrans %}
        {% endelement %}
    {% else %}
        {% element h1 %}
            {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
        {% endelement %}
        {% element p %}
            {% blocktrans with provider.name as provider %}You are about to sign in using a third-party account from {{ provider }}.{% endblocktrans %}
        {% endelement %}
        
        <p>By clicking 'Continue,' you agree to and have read  <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="padding:0; margin-top:-5px;">
            this term and condition
        </button>
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="background-color: rgb(242 255 244 / 42%); border-radius: 10px;">
            <div class="modal-dialog" style="background-color: rgb(255 255 255);     border-radius: 10px;" >
            <div class="modal-content" style="background-color: rgb(255 255 255); border-radius: 10px;;">   
                <div class="modal-header" style="background-color: rgb(255 255 255); border-radius: 10px;;">
                <h1 class="modal-title fs-5" id="staticBackdropLabel" style="background-color: #00000000;">Terms And Condition</h1>
                </div>
                <div class="modal-body" style="background-color: rgb(255 255 255); border-radius: 10px;;">
                    <p class="modal_p" style="margin-bottom:1.5em;"><b>This website is intended for CvSU students and personnel</b>. By continuing, you authorize the website owner to collect, use, process, and share your data in accordance with the Data Privacy Act of 2012. The data will be used for analyzing trends, patterns, and responses through descriptive, diagnostic, predictive, and prescriptive analytics. The purpose of this analysis is to bring awareness to students and help create better strategies and implementations at CvSU.</p>
                    <p class="modal_p" style="margin-bottom:1.5em;"><b>Data retention:</b> Your data will be retained for 30 days. During this period, you will be able to edit and delete your answers within the platform.</p>
                    <p class="modal_p" style="margin-bottom:1.5em;"><b>Sensitive personal data:</b> Some sensitive personal data may be collected, and we will take extra precautions to protect it.</p>
                    <p class="modal_p" style="margin-bottom:1.5em;"><b>Opt-out: </b> If you do not wish to proceed, please do not click the "Continue" button.</p>
                </div>
                <div class="modal-footer" style="background-color: rgb(255 255 255); border-radius: 10px;;">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Understood</button>
               
                </div>
            </div>
            </div>
             
        </div>
        <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="background-color: rgb(242 255 244 / 42%); border-radius: 10px;">
            <div class="modal-dialog" style="background-color: rgb(255 255 255);     border-radius: 10px;" >
            <div class="modal-content" style="background-color: rgb(255 255 255); border-radius: 10px;;">   
                <div class="modal-header" style="background-color: rgb(255 255 255); border-radius: 10px;;">
                <h1 class="modal-title fs-5" id="staticBackdropLabel" style="background-color: #00000000;">Message From Creator/Founder</h1>
                </div>
                <div class="modal-body" style="background-color: rgb(255 255 255); border-radius: 10px;;">
                    <p class="modal_p" style="margin-bottom:1.5em;"><b>Message:</b> Hello! Kabsuhenyos! this is Alvin Jan B Loria, a 3rd Year student from CVSU, itong website na ito ay ginawa para malaman kung ano ang kalagayan ng mga tao at mga magaaral sa CVSU, Ang mga data o datos na makukuwa rito ay gagamitin upang mapaunlad pa lalo ang ating unibersidad</p>
                    <p class="modal_p" style="margin-bottom:1.5em;"><b>Paalala:</b> Sa pag sign in gamit ang ating cvsu.edu.ph na account, kinukuwa lamang nang website na ito ang inyong email at pangalan para sa katunayan na kayo ay parte ng cvsu, ang password at iba pang importante detalye ay hindi kinikuwa at hindi malalaman</p>
                    <p class="modal_p" style="margin-bottom:1.5em;"><b>Partisipasyon:</b> Mahalaga ang partisipasyon ng Kabsuhenyos dahil ang pagtingin at pagsagot natin sa mga survey ay makakatulong sa pagpapalaganap ng kamalayan o awareness na kung saan makikita ng tao na may mga suliranin o bagay sa cvsu na kinakailangan ng solusyon</p>
                    <p class="modal_p" style="margin-bottom:1.5em;"><b>Layunin: </b> Ang mga datos o ang mga sagot ng Kabsuhenyos sa mga tanong ay pwede gamitin na basehan sa paggawa ng bagong mga aktibidad at polisiya nang ating mga leader at student leader na kung saan ay makakatulong sa WELL BEING ng mga estudyante, ng pamantasan at sa lahat na konektado sa CVSU.</p>
                    <p class="modal_p" style="margin-bottom:1.5em;"><b> PAALALA: pakibasa ang Terms and conditions na makikita mo sa susunod para malaman ang inyong mga karapatan </b> </p>
                </div>
                <div class="modal-footer" style="background-color: rgb(255 255 255); border-radius: 10px;;">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Understood</button>
               
                </div>
            </div>
            </div>
             
        </div>
        <script>
            // Trigger the modal when the page loads
            window.onload = function() {
                var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop1'));
                myModal.show();
            };
        </script>  
    {% endif %}
    {% element form method="post" no_visible_fields=True %}
        {% slot actions %}
            {% csrf_token %}
            {% element button type="submit" %}
                {% trans "Continue" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
{% endblock content %}
