.card {
    width:50rem;
    margin:5px;
}
.courses {
    display: flex;
    flex-direction: row;

}

@media (max-width: 768px) {
    .courses {
        flex-direction:column;
    }
    .card{
        width:77vw;
    }
  }