/* Reset styles for headings and list items */
.no-tailwindcss-base h1,
.no-tailwindcss-base h2,
.no-tailwindcss-base h3,
.no-tailwindcss-base h4 {
    font-size: revert;
    font-weight: revert;
}

.no-tailwindcss-base ul,
.no-tailwindcss-base ol {
    list-style: revert;
    margin: revert;
    padding: revert;
}

.no-tailwindcss-base li {
    margin: revert;
    padding: revert;
}
@media screen and (min-width: 640x){
    a.z-20.block.p-4.transition-all.border-2.border-white.rounded-full.active\:bg-blue-50.hover\:scale-110.focus\:outline-none.focus\:ring {
        margin-left:0;
    }
     a.z-30.block.p-4.text-green-700.transition-all.bg-green-100.border-2.border-white.rounded-full.hover\:scale-110.focus\:outline-none.focus\:ring.active\:bg-gren50 {
         margin-left:0;
     }
     .flex {
         display: flex;
         flex-direction:a;
         margin-left: 0;
     }
    
 }
@media screen and (min-width: 600px) and (max-width:1050px){
   .grid.xs\:grid-cols-1.sm\:grid-cols-2.md\:grid-cols-2.lg\:grid-cols-2.gap-4 {
       display:block;
   }
         
 }
 @media screen and (max-width: 500px){
    .px-4 {
        padding-right: 0rem !important; 
         padding-left: 0rem !important; 
    }
    .swiper-slide
    {
        font-size:3vw;
        
    }
    .grid.xs\:grid-cols-1.sm\:grid-cols-2.md\:grid-cols-2.lg\:grid-cols-3.gap-4{
        width:70vw;
        font-size:1px;
    }
    p.text-lg.text-neutral-900{
        font-size:3.5vw;
        font-weight:500;
    }
 }

