<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Home</title>
    
</head>
<body>
    <div class="container">
        <h1>Welcome to the CAFENR!</h1>
        <p>Test your knowledge with our quizzes.</p>

        <h2>Available Quizzes:</h2>
        <ul>
            <li><a href="{% url 'BSES_quiz' %}"> Try Quiz: BSESS (Bachelor of Sports and Exercise Science) </a></li>
            <li><a href="{% url 'BPED_quiz' %}"> Try Quiz: BPED ( Bachelor of Physical Education )</a></li>
        </ul>

       
    </div>
</body>
</html>