{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{% static 'css/cas_view.css' %}"  type="text/css" rel="stylesheet">

</head>
<body>
  
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">College of Art  
        And Sciences</a>
      
        <button class="btn btn-outline-success d-flex" type="submit">Search</button>
     
    </div>
  </nav>
  <div class="container mt-4">
    <div class="accordion accordion-horizontal" id="horizontalAccordion">
      <!-- Accordion Item 1 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Undergraduate Degrees<h2>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#horizontalAccordion">
          <div class="accordion-body">
            <div class="accordion" id="undergradAccordion">
          <!-- Journalism -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingJournalism">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseJournalism" aria-expanded="false" aria-controls="collapseJournalism" style="width:20vw">
                Bachelor of Science in Journalism
              </button>
            </h3>
            <div id="collapseJournalism" class="accordion-collapse collapse science" aria-labelledby="headingJournalism" data-bs-parent="#undergradAccordion">
              <div class="accordion-body">
                 <b>Bachelor of Science in Journalism</b> 
                <p>equips students with the skills to effectively gather, analyze, and present information across various media platforms, including print, digital, and broadcast. Key skills acquired include strong writing, research, critical thinking, communication, and storytelling abilities, along with technical competencies in multimedia production and editing.</p>
                <p>These skills are highly transferable, allowing graduates to work in diverse fields such as public relations, corporate communications, content creation, and social media management, beyond traditional journalism roles. The importance of this degree lies in its ability to foster informed societies by training professionals who can investigate, report, and communicate news and
                    events accurately and ethically.</p>
                <p>Graduates can pursue career paths such as reporter, editor, content writer, digital producer, or even work remotely in roles like freelance journalism, social media management, or public relations, making it a flexible and valuable degree for those interested in media and communication industries.</p>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Learn more
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'BSE-ENGL_quiz' %}"> Try Quiz: BSE-ENGL (Bachelor of Science In Biology) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-FILI_quiz' %}"> Try Quiz: BSE-FILI (Bachelor of Arts In Journalism ) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-MATH_quiz' %}"> Try Quiz: BSE-MATH (Bachelor of Arts In English) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-SCIE_quiz' %}"> Try Quiz: BSE-SCIE (Bachelor of Science In Psychology) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-SS_quiz' %}"> Try Quiz: BSE-SS (Bachelor of Arts In Political Science) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Social Work)</a></li>
                      <li><a class="dropdown-item" href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Applied Mathematics)</a></li>
                  </ul>
              </div>
                
                
              </div>
            </div>
          </div>
          <!-- English Language Studies -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingEnglish">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEnglish" aria-expanded="false" aria-controls="collapseEnglish" style="width:20vw">
                Bachelor of Science in English Language Studies
              </button>
            </h3>
            <div id="collapseEnglish" class="accordion-collapse collapse" aria-labelledby="headingEnglish" data-bs-parent="#undergradAccordion">
              <div class="accordion-body">
                <b>Bachelor of Science in English Language Studies</b> 
                <p>A Bachelor of Science in English Language Studies focuses on the in-depth exploration of the English language, its structure, and its use in various contexts. Students gain a strong foundation in linguistics, phonetics, syntax, semantics, and pragmatics. They learn how language functions both in communication and society, with a focus on language acquisition, development, and teaching methods. The program also delves into cultural studies and literary analysis, offering students a broad perspective on the role of language in global contexts.</p>
                <p>Skills developed through this program include advanced reading, writing, and analytical skills, which are essential for understanding and communicating complex ideas. Students also acquire the ability to teach English as a second language, edit and proofread texts, and analyze language use in different settings. Critical thinking, research, and communication skills are honed throughout the course, making graduates capable of addressing various linguistic and cultural challenges in the real world.</p>
                <p>Graduates of a Bachelor of Science in English Language Studies can pursue careers in education, translation, content writing, editing, public relations, or corporate communication. They may work as language instructors, content developers, or translators, or find roles in international organizations requiring expertise in English communication. The program's versatility also allows graduates to work remotely in positions such as freelance writing, online tutoring, or editing, making it an ideal choice for those seeking flexible and diverse career opportunities.</p>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Learn more
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'BSE-ENGL_quiz' %}"> Try Quiz: BSE-ENGL (Bachelor of Science In Biology) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-FILI_quiz' %}"> Try Quiz: BSE-FILI (Bachelor of Arts In Journalism ) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-MATH_quiz' %}"> Try Quiz: BSE-MATH (Bachelor of Arts In English) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-SCIE_quiz' %}"> Try Quiz: BSE-SCIE (Bachelor of Science In Psychology) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-SS_quiz' %}"> Try Quiz: BSE-SS (Bachelor of Arts In Political Science) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Social Work)</a></li>
                      <li><a class="dropdown-item" href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Applied Mathematics)</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

           <!-- Political Science -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingPolsci">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePolsci" aria-expanded="false" aria-controls="collapsePolsci" style="width:20vw">
                Bachelor of Arts In Political Science 
              </button>
            </h3>
            <div id="collapsePolsci" class="accordion-collapse collapse" aria-labelledby="headingPolsci" data-bs-parent="#undergradAccordion" style="width:20vw">
              <div class="accordion-body">
                <b>Bachelor of Science in Political Science</b> 
                <p>provides students with a comprehensive understanding of political systems, governance, and international relations. The program covers topics such as political theory, public policy, comparative politics, and the functioning of political institutions. Students gain insights into the relationships between governments, political parties, and citizens, exploring both domestic and global political issues. The curriculum also emphasizes research, analytical thinking, and communication skills, preparing graduates to critically assess political events and trends.</p>
                <p>Skills acquired in this program include research methodology, data analysis, writing, and public speaking, all essential for interpreting political developments and engaging in informed debates. Students also develop an understanding of legal systems, human rights, political campaigns, and conflict resolution. These skills are transferable to various fields, allowing graduates to contribute effectively to decision-making processes in political, legal, and social contexts.</p>
                <p>Graduates of a Bachelor of Science in Political Science have a wide range of career paths to choose from, including roles in government, law, international organizations, non-profits, and the private sector. They can pursue positions as political analysts, policy advisors, diplomats, legislative assistants, or even work in advocacy and human rights organizations. Many also find opportunities in journalism, public relations, and political consulting. With the growing demand for political expertise, this degree also offers remote work possibilities in fields like online policy research, advocacy, and writing.</p>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Learn more
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'BSE-ENGL_quiz' %}"> Try Quiz: BSE-ENGL (Bachelor of Science In Biology) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-FILI_quiz' %}"> Try Quiz: BSE-FILI (Bachelor of Arts In Journalism ) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-MATH_quiz' %}"> Try Quiz: BSE-MATH (Bachelor of Arts In English) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-SCIE_quiz' %}"> Try Quiz: BSE-SCIE (Bachelor of Science In Psychology) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-SS_quiz' %}"> Try Quiz: BSE-SS (Bachelor of Arts In Political Science) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Social Work)</a></li>
                      <li><a class="dropdown-item" href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Applied Mathematics)</a></li>
                  </ul>
                </div> 
                
              </div>
            </div>
          </div>

          <!-- Applied Mathematics -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingAppliedMath">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAppliedMath" aria-expanded="false" aria-controls="collapseAppliedMath" style="width:20vw">
                Bachelor of Science In Applied Mathematics
              </button>
            </h3>
            <div id="collapseAppliedMath" class="accordion-collapse collapse" aria-labelledby="headingAppliedMath" data-bs-parent="#undergradAccordion" style="width:20vw">
              <div class="accordion-body">
                <p>Uses math to solve real-world problems, suited for careers in data analysis and finance.</p>
              </div>
            </div>
          </div>

          <!-- Biology-->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingBio">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBio" aria-expanded="false" aria-controls="collapseBio" style="width:20vw"> 
                Bachelor of Science In Applied Mathematics
              </button>
            </h3>
            <div id="collapseBio" class="accordion-collapse collapse" aria-labelledby="headingBio" data-bs-parent="#undergradAccordion">
              <div class="accordion-body">
                <p>Studies living organisms, preparing for careers in research, healthcare, and environmental fields.</p>
              </div>
            </div>
          </div>

          <!-- Psychology -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingPsych">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePsych" aria-expanded="false" aria-controls="collapsePsych" style="width:20vw">
                Bachelor of Science In Psychology 
              </button>
            </h3>
            <div id="collapsePsych" class="accordion-collapse collapse" aria-labelledby="headingPsych" data-bs-parent="#undergradAccordion">
              <div class="accordion-body">
                <p>Examines human behavior and mental health, ideal for roles in counseling and social services.</p>
              </div>
            </div>
          </div>

          <!--  Social Work -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingSocialWork">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSocialWork" aria-expanded="false" aria-controls="collapseSocialWork" style="width:20vw; text">
                Bachelor of Science In Social Work
              </button>
            </h3>
            <div id="collapseSocialWork" class="accordion-collapse collapse" aria-labelledby="headingSocialWork" data-bs-parent="#undergradAccordion">
              <div class="accordion-body">
                <p>Focuses on social welfare and justice, preparing for social service and advocacy roles.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      

  
  <iframe id="figmaFrame" src="" style="display:none;" allowfullscreen></iframe>
    <div class="container">
   
        <p>Test your knowledge with our quizzes.</p>
        
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Available Quizzes:
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'BSE-ENGL_quiz' %}"> Try Quiz: BSE-ENGL (Bachelor of Science In Biology) </a></li>
                <li><a class="dropdown-item" href="{% url 'BSE-FILI_quiz' %}"> Try Quiz: BSE-FILI (Bachelor of Arts In Journalism ) </a></li>
                <li><a class="dropdown-item" href="{% url 'BSE-MATH_quiz' %}"> Try Quiz: BSE-MATH (Bachelor of Arts In English) </a></li>
                <li><a class="dropdown-item" href="{% url 'BSE-SCIE_quiz' %}"> Try Quiz: BSE-SCIE (Bachelor of Science In Psychology) </a></li>
                <li><a class="dropdown-item" href="{% url 'BSE-SS_quiz' %}"> Try Quiz: BSE-SS (Bachelor of Arts In Political Science) </a></li>
                <li><a class="dropdown-item" href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Social Work)</a></li>
                <li><a class="dropdown-item" href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Applied Mathematics)</a></li>
            </ul>
        </div>
        
       
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
      document.querySelector('[data-bs-target="#collapseOne"]').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default action of the link
  
        // Change the background to the image
        document.body.style.backgroundImage = "none"; 
  
  
      
      });
      document.querySelector('[data-bs-target="#collapseJournalism"]').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default action of the link
  
        // Change the background to the image
        document.body.style.backgroundImage = "url('/static/images/newspaper.png')"; 
  
        // Optionally, hide the link once clicked (if you want)
        this.style.display = 'flex';
        
      });
      document.querySelector('[data-bs-target="#collapseEnglish"]').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default action of the link
  
        // Change the background to the image
        document.body.style.backgroundImage = "url('/static/images/dictionary-267669.png')"; 
  
  
        // Optionally, hide the link once clicked (if you want)
        this.style.display = 'flex';
      });
      document.querySelector('[data-bs-target="#collapsePolsci"]').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default action of the link
  
        // Change the background to the image
        document.body.style.backgroundImage = "url('/static/images/justice-ekaterina-bolovtsova-6077091.png')"; 
  
  
        // Optionally, hide the link once clicked (if you want)
        this.style.display = 'flex';
      });
    </script>
</body>
</html>