<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Home</title>
    
</head>
<body>
    <div class="container">
        <h1>Welcome to the College of Art And Sciences</h1>
        <p>Test your knowledge with our quizzes.</p>

        <h2>Available Quizzes:</h2>
        <ul>
            <li><a href="{% url 'BSE-ENGL_quiz' %}"> Try Quiz: BSE-ENGL (Bachelor of Science In Biology) </a></li>
            <li><a href="{% url 'BSE-FILI_quiz' %}"> Try Quiz: BSE-FILI (Bachelor of Arts In Journalism ) </a></li>
            <li><a href="{% url 'BSE-MATH_quiz' %}"> Try Quiz: BSE-MATH (Bachelor of Arts In English) </a></li>
            <li><a href="{% url 'BSE-SCIE_quiz' %}"> Try Quiz: BSE-SCIE (Bachelor of Science In Psychology) </a></li>
            <li><a href="{% url 'BSE-SS_quiz' %}"> Try Quiz: BSE-SS (Bachelor of Arts In Political Science) </a></li>
            <li><a href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Social Work)</a></li>
            <li><a href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Applied Mathematics)</a></li>
        </ul>

       
    </div>
</body>
</html>