{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{% static 'css/cas_view.css' %}"  type="text/css" rel="stylesheet">

</head>
<body>
  
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <div class="title">
        <a class="navbar-brand">College of Art</a>
        <a class="navbar-brand sc1">And Sciences</a>
        </div>
      
        <button class="btn btn-outline-success d-flex" ><a href="/cvsu_View">Go Back</a></button>
     
    </div>
  </nav>
  <div class="container mt-4">
    <div class="accordion accordion-horizontal" id="horizontalAccordion">
      <!-- Accordion Item 1 -->
      
      
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Bachelor's<h2>
          </button>
        </h2>
        
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#horizontalAccordion">
          <div class="accordion-body">
            <div class="accordion" id="undergradAccordion">
          <!-- Journalism -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingJournalism">
              <button class="accordion-button collapsed course1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseJournalism" aria-expanded="false" aria-controls="collapseJournalism" style="width:20vw">
                <div>
                  <h3 class="course">Bachelor of Arts in Journalism</h3>
                  <p class="discription">Develops skills in writing, research, and multimedia for careers in media, PR, and digital content.</p>
                </div>
              </button>
            </h3>
            <div id="collapseJournalism" class="accordion-collapse collapse science" aria-labelledby="headingJournalism" data-bs-parent="#undergradAccordion">
              <div class="accordion-body">
                 <b>Bachelor of Arts in Journalism</b> 
                <p>trains students to gather, analyze, and present information across print, digital, and broadcast media. Key skills include writing, research, storytelling, and multimedia production.</p>
                <p>These versatile skills enable careers in journalism, public relations, corporate communications, and social media management. The degree emphasizes ethical reporting and fostering informed societies.</p>
                <p>Graduates can work as reporters, editors, content writers, or digital producers, with opportunities for remote roles in freelance journalism, social media, and public relations, offering flexibility and relevance in media industries.</p>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Learn more
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'BAJ_quiz' %}"> Try Quiz: BAJourn (Bachelor of Arts In Journalism ) </a></li>
                      <li><a class="dropdown-item" href="https://ched.gov.ph/wp-content/uploads/2017/10/CMO-41-s-2017.pdf"> CMO: Policies, Standard And Guidelines for Journalism </a></li>
                  </ul>
              </div>
              </div>
            </div>
          </div>
          <!-- English Language Studies -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingEnglish">
              <button class="accordion-button collapsed course1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEnglish" aria-expanded="false" aria-controls="collapseEnglish" style="width:20vw">
                <div>
                  <h3 class="course">Bachelor of Arts in English Language Studies</h3>
                  <p class="discription">Focuses on English structure, linguistics, and teaching for roles in education, writing, and translation.</p>
                </div>
                
              </button>
            </h3>
            <div id="collapseEnglish" class="accordion-collapse collapse" aria-labelledby="headingEnglish" data-bs-parent="#undergradAccordion">
              <div class="accordion-body">
                <b>Bachelor of Arts in English Language Studies</b> 
                <p>explores the English language’s structure, use, and role in communication and society. Students study linguistics, phonetics, syntax, and teaching methods while examining cultural and literary contexts, gaining a global perspective on language.</p>
                <p>The program develops advanced reading, writing, and analytical skills, alongside expertise in teaching English, editing, and language analysis. Critical thinking and communication skills are emphasized, preparing graduates to address linguistic and cultural challenges effectively.</p>
                <p>Graduates can pursue careers in education, translation, writing, editing, or corporate communication. With opportunities in teaching, content creation, or remote roles like online tutoring and freelance editing, the program offers versatility and flexibility.</p>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Learn more
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'BSE_ENGL_quiz' %}"> Try Quiz: BAELS (Bachelor of Arts in English Language Studies) </a></li>
                      <li><a class="dropdown-item" href="https://ched.gov.ph/wp-content/uploads/2017/10/CMO-24-s-2017.pdf"> CMO: Policies, Standard And Guidelines for English Language Studies </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

           <!-- Political Science -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingPolsci">
              <button class="accordion-button collapsed course1" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePolsci" aria-expanded="false" aria-controls="collapsePolsci" style="width:20vw">
                <div>
                  <h3 class="course">Bachelor of Arts In Political Science</h3>
                  <p class="discription">Explores governance and policy, preparing students for careers in government, law, and advocacy.</p>
                </div>
               
              </button>
            </h3>
            <div id="collapsePolsci" class="accordion-collapse collapse" aria-labelledby="headingPolsci" data-bs-parent="#undergradAccordion" >
              <div class="accordion-body">
                <b>Bachelor of Science in Political Science</b> 
                <p>provides an in-depth understanding of political systems, governance, and international relations. It covers political theory, public policy, and global issues while developing research, analytical, and communication skills to evaluate political trends.</p>
                <p>Students gain expertise in research, data analysis, writing, and public speaking, along with knowledge of human rights and legal systems. These skills prepare graduates for roles in decision-making and policy across various fields.</p>
                <p>Career options include government, law, international organizations, and advocacy. Graduates can work as analysts, advisors, or diplomats, with remote opportunities in research, writing, and advocacy.</p>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Learn more
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'BAPS_QUIZ' %}"> Try Quiz: BAPS (Bachelor of Arts in Political Science) </a></li>
                      <li><a class="dropdown-item" href="https://ched.gov.ph/wp-content/uploads/2017/10/CMO-No.31-s2011.pdf"> CMO: Policies, Standard And Guidelines for Political Science </a></li>
                      
                  </ul>
                </div> 
                
              </div>
            </div>
          </div>

          <!-- Applied Mathematics -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingAppliedMath">
              <button class="accordion-button collapsed course1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAppliedMath" aria-expanded="false" aria-controls="collapseAppliedMath" style="width:20vw">
                <div>
                  <h3 class="course">Bachelor of Science In Applied Mathematics</h3>
                  <p class="discription">Focuses on solving real-world problems using mathematical modeling and analysis, leading to careers in data science, finance, and operations research.</p>
                </div>
              </button>
            </h3>
            <div id="collapseAppliedMath" class="accordion-collapse collapse " aria-labelledby="headingAppliedMath" data-bs-parent="#undergradAccordion">
              <div class="accordion-body">
                <b>Bachelor of Science In Applied Mathematics</b> 
                <p> focuses on solving real-world problems using mathematical theories and computational methods. The curriculum covers algebra, statistics, and mathematical modeling.</p>
                <p>Students gain analytical, problem-solving, and technical skills applicable in finance, engineering, and technology. These skills are highly transferable across industries.</p>
                <p>Graduates pursue careers in data analysis, actuarial science, and software development. Remote roles include data science, programming, and consultancy.</p>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Learn more
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'BSAM_QUIZ' %}"> Try Quiz: BSAM (Bachelor of Science in Applied Mathematics) </a></li>
                      <li><a class="dropdown-item" href="https://ched.gov.ph/wp-content/uploads/2017/10/CMO-No.19-s2007.pdf"> CMO: Policies, Standard And Guidelines for Applied Mathematics </a></li>
                    
                  </ul>
                </div> 
              </div>
            </div>
          </div>
          

          <!-- Biology-->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingBio">
              <button class="accordion-button collapsed course1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBio" aria-expanded="false" aria-controls="collapseBio" style="width:20vw"> 
                <div>
                  <h3 class="course">Bachelor of Science in Biology</h3>
                  <p class="discription">Explores living organisms and ecosystems, preparing graduates for roles in research, healthcare, and environmental science.</p>
                </div>
              </button>
            </h3>
            <div id="collapseBio" class="accordion-collapse collapse" aria-labelledby="headingBio" data-bs-parent="#undergradAccordion">
              <div class="accordion-body">
                <b>Bachelor of Science in Biology</b> 
                  <p>provides an in-depth understanding of living organisms and ecosystems. It covers molecular biology, genetics, and ecology, combining theory with lab work.</p>
                  <p>The program develops skills in research, analysis, and scientific communication, preparing students for careers in healthcare, environmental science, and biotechnology.</p>
                  <p>Graduates work in education, research, or environmental agencies. Remote roles include online research, scientific writing, and data analysis.</p>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Learn more
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'BSBIO_PLANTBIO_QUIZ' %}"> Try Quiz: Bachelor of Science in Biology, Major in Plant Biology </a></li>
                        <li><a class="dropdown-item" href="{% url 'BSBIO_ANIMALBIO_QUIZ' %}"> Try Quiz: Bachelor of Science in Biology, Major in Animal Biology </a></li>
                        <li><a class="dropdown-item" href="{% url 'BSBIO_MICROBIO_QUIZ' %}"> Try Quiz: Bachelor of Science in Biology, Major in Microbiology </a></li>
                        <li><a class="dropdown-item" href="{% url 'BSBIO_MEDICALBIO_QUIZ' %}"> Try Quiz: Bachelor of Science in Biology, Major in Medical Biology </a></li>
                        <li><a class="dropdown-item" href="{% url 'BSBIO_ECOLOGY_QUIZ' %}"> Try Quiz: Bachelor of Science in Biology, Major in Ecology </a></li>
                        <li><a class="dropdown-item" href="{% url 'BSBIO_GENETICS_QUIZ' %}"> Try Quiz: Bachelor of Science in Biology, Major in Genetics</a></li>
                        <li><a class="dropdown-item" href="https://ched.gov.ph/wp-content/uploads/2017/10/CMO-49-s-2017.pdf"> CMO: Policies, Standard And Guidelines for Biology </a></li>
                    </ul>
                  </div> 
              </div>
            </div>
          </div>

          <!-- Psychology -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingPsych">
              <button class="accordion-button collapsed course1" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePsych" aria-expanded="false" aria-controls="collapsePsych" style="width:20vw">
                <div>
                  <h3 class="course">Bachelor of Science In Psychology</h3>
                  <p class="discription">Studies human behavior and mental processes, leading to roles in counseling, HR, and research.</p>
                </div>
              </button>
            </h3>
            <div id="collapsePsych" class="accordion-collapse collapse" aria-labelledby="headingPsych" data-bs-parent="#undergradAccordion">
              <div class="accordion-body">
                <b>Bachelor of Science in Psychology</b> 
                <p>focuses on understanding human behavior and mental processes, covering areas like cognitive, social, and developmental psychology. Students learn research methods, critical thinking, and communication skills, preparing them for diverse careers.</p>
                <p>The program equips graduates with practical skills applicable in counseling, HR, and organizational development. It also fosters analytical and problem-solving abilities essential in many industries.</p>
                <p>Graduates can work in mental health services, research, or education. Remote roles include online therapy, research assistance, and creating mental health content.</p>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Learn more
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'BSPSYC_QUIZ' %}"> Try Quiz: BSPSYCH (Bachelor of Science in Psychology) </a></li>
                      <li><a class="dropdown-item" href="https://ched.gov.ph/wp-content/uploads/2017/10/CMO-34-s-2017.pdf"> CMO: Policies, Standard And Guidelines for Psychology </a></li>
                  </ul>
                </div> 
              </div>
            </div>
          </div>

          <!--  Social Work -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingSocialWork">
              <button class="accordion-button collapsed course1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSocialWork" aria-expanded="false" aria-controls="collapseSocialWork" style="width:20vw; text">
                <div>
                  <h3 class="course">Bachelor of Science In Social Work</h3>
                  <p class="discription">Trains students to support individuals and communities, leading to careers in counseling, advocacy, and social services.</p>
                </div>
              </button>
            </h3>
            <div id="collapseSocialWork" class="accordion-collapse collapse" aria-labelledby="headingSocialWork" data-bs-parent="#undergradAccordion">
              <div class="accordion-body">
                 <b> Bachelor of Science In Social Work</b> 
                <p>A Bachelor of Science in Social Work trains students to assist individuals, families, and communities in addressing social issues. It emphasizes social justice, welfare policies, and advocacy.</p>
                <p>The program builds skills in empathy, communication, and problem-solving. Students also gain expertise in case management and community development.</p>
                <p>Graduates work in healthcare, education, and non-profits. Remote opportunities include virtual counseling, program coordination, and online advocacy.</p>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Learn more
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'BSSW_QUIZ' %}"> Try Quiz: BSSW (Bachelor of Science in Social Work) </a></li>
                      <li><a class="dropdown-item" href="https://ched.gov.ph/wp-content/uploads/2017/10/CMO-39-s-2017.pdf"> CMO: Policies, Standard And Guidelines for Social Work </a></li>
                  </ul>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Accordion Item 2 -->
  <div class="accordion accordion-horizontal" id="horizontalAccordion">
      <!-- Accordion Item 2 -->
      
      
      <div class="accordion-item">
        <h2 class="accordion-header" id="headinone3">
          <button class="accordion-button coldsdsed" type="button" data-bs-toggle="collapse" data-bs-target="#colnoneeOne" aria-expanded="false" aria-controls="collnoneOne">
            <h2>Academic Orgs</h3>
          </button>
        </h2>
        
        <div id="collapseade" class="accordion-collapse collapse" aria-labelledby="headadgOne" data-bs-parent="#horizontalAccordion">
          <div class="accordion-body">
            <div class="accordion" id="undergradAccordion">
          <!-- Journalism -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headinnonernalism">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collnoneJoussalism" aria-expanded="false" aria-controls="collapsnonesnalism" style="width:20vw">
                test course 1
              </button>
            </h3>
            <div id="collapseJoursssism" class="accordion-collapse collapse science" aria-labelledby="headingsssrnalism" data-bs-parent="#undergradAccordion">
              <div class="accordion-body">
                 <b>Bachelor of Science in Journalism</b> 
                <p>trains students to gather, analyze, and present information across print, digital, and broadcast media. Key skills include writing, research, storytelling, and multimedia production.</p>
                <p>These versatile skills enable careers in journalism, public relations, corporate communications, and social media management. The degree emphasizes ethical reporting and fostering informed societies.</p>
                <p>Graduates can work as reporters, editors, content writers, or digital producers, with opportunities for remote roles in freelance journalism, social media, and public relations, offering flexibility and relevance in media industries.</p>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Learn more
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'BSE-ENGL_quiz' %}"> Try Quiz: BSE-ENGL (Bachelor of Science In Biology) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-FILI_quiz' %}"> Try Quiz: BSE-FILI (Bachelor of Arts In Journalism ) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-MATH_quiz' %}"> Try Quiz: BSE-MATH (Bachelor of Arts In English) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-SCIE_quiz' %}"> Try Quiz: BSE-SCIE (Bachelor of Science In Psychology) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-SS_quiz' %}"> Try Quiz: BSE-SS (Bachelor of Arts In Political Science) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Social Work)</a></li>
                      <li><a class="dropdown-item" href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Applied Mathematics)</a></li>
                  </ul>
              </div>
              </div>
            </div>
          </div>
          <!-- English Language Studies -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingsnglish">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsssnglish" aria-expanded="false" aria-controls="collapsessglish" style="width:20vw">
                test course 2
              </button>
            </h3>
            <div id="collapseEnssish" class="accordion-collapse collapse" aria-labelledby="headingEnssish" data-bs-parent="#undergradAccordion">
              <div class="accordion-body">
                <b>Bachelor of Science in English Language Studies</b> 
                <p>explores the English language’s structure, use, and role in communication and society. Students study linguistics, phonetics, syntax, and teaching methods while examining cultural and literary contexts, gaining a global perspective on language.</p>
                <p>The program develops advanced reading, writing, and analytical skills, alongside expertise in teaching English, editing, and language analysis. Critical thinking and communication skills are emphasized, preparing graduates to address linguistic and cultural challenges effectively.</p>
                <p>Graduates can pursue careers in education, translation, writing, editing, or corporate communication. With opportunities in teaching, content creation, or remote roles like online tutoring and freelance editing, the program offers versatility and flexibility.</p>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Learn more
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'BSE-ENGL_quiz' %}"> Try Quiz: BSE-ENGL (Bachelor of Science In Biology) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-FILI_quiz' %}"> Try Quiz: BSE-FILI (Bachelor of Arts In Journalism ) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-MATH_quiz' %}"> Try Quiz: BSE-MATH (Bachelor of Arts In English) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-SCIE_quiz' %}"> Try Quiz: BSE-SCIE (Bachelor of Science In Psychology) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-SS_quiz' %}"> Try Quiz: BSE-SS (Bachelor of Arts In Political Science) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Social Work)</a></li>
                      <li><a class="dropdown-item" href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Applied Mathematics)</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

           <!-- Political Science -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headssgPolsci">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapssPolsci" aria-expanded="false" aria-controls="collapsePolsci" style="width:20vw">
                Bachelor of Arts In Political Science 
              </button>
            </h3>
            <div id="collapsePossci" class="accordion-collapse collapse" aria-labelledby="heasingPolsci" data-bs-parent="#undergradAccordion" style="width:20vw">
              <div class="accordion-body">
                <b>Bachelor of Science in Political Science</b> 
                <p>provides an in-depth understanding of political systems, governance, and international relations. It covers political theory, public policy, and global issues while developing research, analytical, and communication skills to evaluate political trends.</p>
                <p>Students gain expertise in research, data analysis, writing, and public speaking, along with knowledge of human rights and legal systems. These skills prepare graduates for roles in decision-making and policy across various fields.</p>
                <p>Career options include government, law, international organizations, and advocacy. Graduates can work as analysts, advisors, or diplomats, with remote opportunities in research, writing, and advocacy.</p>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Learn more
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'BSE-ENGL_quiz' %}"> Try Quiz: BSE-ENGL (Bachelor of Science In Biology) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-FILI_quiz' %}"> Try Quiz: BSE-FILI (Bachelor of Arts In Journalism ) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-MATH_quiz' %}"> Try Quiz: BSE-MATH (Bachelor of Arts In English) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-SCIE_quiz' %}"> Try Quiz: BSE-SCIE (Bachelor of Science In Psychology) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-SS_quiz' %}"> Try Quiz: BSE-SS (Bachelor of Arts In Political Science) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Social Work)</a></li>
                      <li><a class="dropdown-item" href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Applied Mathematics)</a></li>
                  </ul>
                </div> 
                
              </div>
            </div>
          </div>

          <!-- Applied Mathematics -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingAppnoneMath">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapssApplnoneath" aria-expanded="false" aria-controls="collapseAppliedMath" style="width:20vw">
                Bachelor of Science In Applied Mathematics
              </button>
            </h3>
            <div id="collapsenoneiedMath" class="accordion-collapse collapse" aria-labelledby="headingApplinoneth" data-bs-parent="#undergradAccordion" style="width:20vw">
              <div class="accordion-body">
                <b>Bachelor of Science In Applied Mathematics</b> 
                <p> focuses on solving real-world problems using mathematical theories and computational methods. The curriculum covers algebra, statistics, and mathematical modeling.</p>
                <p>Students gain analytical, problem-solving, and technical skills applicable in finance, engineering, and technology. These skills are highly transferable across industries.</p>
                <p>Graduates pursue careers in data analysis, actuarial science, and software development. Remote roles include data science, programming, and consultancy.</p>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Learn more
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'BSE-ENGL_quiz' %}"> Try Quiz: BSE-ENGL (Bachelor of Science In Biology) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-FILI_quiz' %}"> Try Quiz: BSE-FILI (Bachelor of Arts In Journalism ) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-MATH_quiz' %}"> Try Quiz: BSE-MATH (Bachelor of Arts In English) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-SCIE_quiz' %}"> Try Quiz: BSE-SCIE (Bachelor of Science In Psychology) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-SS_quiz' %}"> Try Quiz: BSE-SS (Bachelor of Arts In Political Science) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Social Work)</a></li>
                      <li><a class="dropdown-item" href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Applied Mathematics)</a></li>
                  </ul>
                </div> 
              </div>
            </div>
          </div>
          

          <!-- Biology-->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headnoneio">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collssnoneo" aria-expanded="false" aria-controls="collapseBio" style="width:20vw"> 
                Bachelor of Science in Biology
              </button>
            </h3>
            <div id="collapsnone" class="accordion-collapse collapse" aria-labelledby="headinnone" data-bs-parent="#undergradAccordion">
              <div class="accordion-body">
                <b>Bachelor of Science in Biology</b> 
                  <p>provides an in-depth understanding of living organisms and ecosystems. It covers molecular biology, genetics, and ecology, combining theory with lab work.</p>
                  <p>The program develops skills in research, analysis, and scientific communication, preparing students for careers in healthcare, environmental science, and biotechnology.</p>
                  <p>Graduates work in education, research, or environmental agencies. Remote roles include online research, scientific writing, and data analysis.</p>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Learn more
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'BSE-ENGL_quiz' %}"> Try Quiz: BSE-ENGL (Bachelor of Science In Biology) </a></li>
                        <li><a class="dropdown-item" href="{% url 'BSE-FILI_quiz' %}"> Try Quiz: BSE-FILI (Bachelor of Arts In Journalism ) </a></li>
                        <li><a class="dropdown-item" href="{% url 'BSE-MATH_quiz' %}"> Try Quiz: BSE-MATH (Bachelor of Arts In English) </a></li>
                        <li><a class="dropdown-item" href="{% url 'BSE-SCIE_quiz' %}"> Try Quiz: BSE-SCIE (Bachelor of Science In Psychology) </a></li>
                        <li><a class="dropdown-item" href="{% url 'BSE-SS_quiz' %}"> Try Quiz: BSE-SS (Bachelor of Arts In Political Science) </a></li>
                        <li><a class="dropdown-item" href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Social Work)</a></li>
                        <li><a class="dropdown-item" href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Applied Mathematics)</a></li>
                    </ul>
                  </div> 
              </div>
            </div>
          </div>

          <!-- Psychology -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingnoneh">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#colsnonePsych" aria-expanded="false" aria-controls="collapsePsych" style="width:20vw">
                Bachelor of Science In Psychology 
              </button>
            </h3>
            <div id="collapsnonech" class="accordion-collapse collapse" aria-labelledby="headnonesych" data-bs-parent="#undergradAccordion">
              <div class="accordion-body">
                <b>Bachelor of Science in Psychology</b> 
                <p>focuses on understanding human behavior and mental processes, covering areas like cognitive, social, and developmental psychology. Students learn research methods, critical thinking, and communication skills, preparing them for diverse careers.</p>
                <p>The program equips graduates with practical skills applicable in counseling, HR, and organizational development. It also fosters analytical and problem-solving abilities essential in many industries.</p>
                <p>Graduates can work in mental health services, research, or education. Remote roles include online therapy, research assistance, and creating mental health content.</p>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Learn more
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'BSE-ENGL_quiz' %}"> Try Quiz: BSE-ENGL (Bachelor of Science In Biology) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-FILI_quiz' %}"> Try Quiz: BSE-FILI (Bachelor of Arts In Journalism ) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-MATH_quiz' %}"> Try Quiz: BSE-MATH (Bachelor of Arts In English) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-SCIE_quiz' %}"> Try Quiz: BSE-SCIE (Bachelor of Science In Psychology) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-SS_quiz' %}"> Try Quiz: BSE-SS (Bachelor of Arts In Political Science) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Social Work)</a></li>
                      <li><a class="dropdown-item" href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Applied Mathematics)</a></li>
                  </ul>
                </div> 
              </div>
            </div>
          </div>

          <!--  Social Work -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingnonealWork">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapnonecialWork" aria-expanded="false" aria-controls="collapseSocialWork" style="width:20vw; text">
                Bachelor of Science In Social Work
              </button>
            </h3>
            <div id="collapseSocnoneork" class="accordion-collapse collapse" aria-labelledby="headinnoneialWork" data-bs-parent="#undergradAccordion">
              <div class="accordion-body">
                 <b> Bachelor of Science In Social Work</b> 
                <p>A Bachelor of Science in Social Work trains students to assist individuals, families, and communities in addressing social issues. It emphasizes social justice, welfare policies, and advocacy.</p>
                <p>The program builds skills in empathy, communication, and problem-solving. Students also gain expertise in case management and community development.</p>
                <p>Graduates work in healthcare, education, and non-profits. Remote opportunities include virtual counseling, program coordination, and online advocacy.</p>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Learn more
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'BSE-ENGL_quiz' %}"> Try Quiz: BSE-ENGL (Bachelor of Science In Biology) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-FILI_quiz' %}"> Try Quiz: BSE-FILI (Bachelor of Arts In Journalism ) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-MATH_quiz' %}"> Try Quiz: BSE-MATH (Bachelor of Arts In English) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-SCIE_quiz' %}"> Try Quiz: BSE-SCIE (Bachelor of Science In Psychology) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BSE-SS_quiz' %}"> Try Quiz: BSE-SS (Bachelor of Arts In Political Science) </a></li>
                      <li><a class="dropdown-item" href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Social Work)</a></li>
                      <li><a class="dropdown-item" href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Science In Applied Mathematics)</a></li>
                  </ul>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

    
    
      

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
      

      const mediaQuery = window.matchMedia('(max-width: 768px)');

// Function to handle the click event
function handleClick(event) {
    event.preventDefault();

                // Check if media query matches
                if (mediaQuery.matches) {
                    // If the media query condition is true, hide the element
                    const headingOne = document.querySelector('h2#headingOne');
                    if (headingOne) {
                        headingOne.style.display = 'none';
                    }
                }
            }

            // Add event listener to the element
            const targetElement = document.querySelector('[data-bs-target="#collapseOne"]');
            if (targetElement) {
                targetElement.addEventListener('click', handleClick);
            }
      document.querySelector('[data-bs-target="#collapseOne"]').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default action of the link
  
        // Change the background to the image
        document.body.style.backgroundImage = "url('/static/images/Cas.png')"; 
        // collapse open accordions
        const collapsibleElements = document.querySelectorAll('.accordion-collapse');
        collapsibleElements.forEach((element) => {
          if (element.classList.contains('show')) {
            const collapseInstance = bootstrap.Collapse.getInstance(element) || new bootstrap.Collapse(element);
            collapseInstance.hide();
    }
  });
  
  
      
      });
      document.querySelector('[data-bs-target="#collapseJournalism"]').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default action of the link
  
        // Change the background to the image
        document.body.style.backgroundImage = "url('/static/images/newspaper.png')"; 
  
        // Optionally, hide the link once clicked (if you want)
        this.style.display = 'flex';
        
      });
      document.querySelector('[data-bs-target="#collapseEnglish"]').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default action of the link
  
        // Change the background to the image
        document.body.style.backgroundImage = "url('/static/images/dictionary-267669.png')"; 
  
  
        // Optionally, hide the link once clicked (if you want)
        this.style.display = 'flex';
      });
      document.querySelector('[data-bs-target="#collapsePolsci"]').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default action of the link
  
        // Change the background to the image
        document.body.style.backgroundImage = "url('/static/images/justice-ekaterina-bolovtsova-6077091.png')"; 
  
  
        // Optionally, hide the link once clicked (if you want)
        this.style.display = 'flex';
      });
      document.querySelector('[data-bs-target="#collapseAppliedMath"]').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default action of the link
  
        // Change the background to the image
        document.body.style.backgroundImage = "url('/static/images/pexels-ian-panelo-3729557.png')"; 
  
  
        // Optionally, hide the link once clicked (if you want)
        this.style.display = 'flex';
      });
      document.querySelector('[data-bs-target="#collapseBio"]').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default action of the link
  
        // Change the background to the image
        document.body.style.backgroundImage = "url('/static/images/pexels-pavel-danilyuk-8442030.png')"; 
  
  
        // Optionally, hide the link once clicked (if you want)
        this.style.display = 'flex';
      });
      document.querySelector('[data-bs-target="#collapsePsych"]').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default action of the link
  
        // Change the background to the image
        document.body.style.backgroundImage = "url('/static/images/pexels-timur-weber-8560681.png')"; 
  
  
        // Optionally, hide the link once clicked (if you want)
        this.style.display = 'flex';
      });
      document.querySelector('[data-bs-target="#collapseSocialWork"]').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default action of the link
  
        // Change the background to the image
        document.body.style.backgroundImage = "url('/static/images/pexels-rdne-6646916.png')"; 
  
  
        // Optionally, hide the link once clicked (if you want)
        this.style.display = 'flex';
      });
    </script>
</body>
</html>
