<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Home</title>
    
</head>
<body>
    <div class="container">
        <h1>Welcome to the College of Criminal Justice</h1>
        <p>Test your knowledge with our quizzes.</p>

        <h2>Available Quizzes:</h2>
        <ul>
            <li><a href="{% url 'BSE-ENGL_quiz' %}"> Try Quiz: BSE-ENGL (Bachelor of Science In Criminology) </a></li>
            <li><a href="{% url 'BSE-FILI_quiz' %}"> Try Quiz: BSISM (Bachelor of Science In Industrial Security Management) </a></li>
        </ul>

       
    </div>
</body>
</html>