<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Home</title>
    
</head>
<body>
    <div class="container">
        <h1>Welcome to the CED!</h1>
        <p>Test your knowledge with our quizzes.</p>

        <h2>Available Quizzes:</h2>
        <ul>
            <li><a href="{% url 'BSE-ENGL_quiz' %}"> Try Quiz: BSE-ENGL (Bachelor of Secondary Education Major In English) </a></li>
            <li><a href="{% url 'BSE-FILI_quiz' %}"> Try Quiz: BSE-FILI (Bachelor of Secondary Education Major In Filipino ) </a></li>
            <li><a href="{% url 'BSE-MATH_quiz' %}"> Try Quiz: BSE-MATH (Bachelor of Secondary Education Major In Math) </a></li>
            <li><a href="{% url 'BSE-SCIE_quiz' %}"> Try Quiz: BSE-SCIE (Bachelor of Secondary Education Major In Science) </a></li>
            <li><a href="{% url 'BSE-SS_quiz' %}"> Try Quiz: BSE-SS (Bachelor of Secondary Education Major In Social Studies) </a></li>
            <li><a href="{% url 'BAE_quiz' %}"> Try Quiz: BEED (Bachelor of Elementary Education)</a></li>
            <li><a href="{% url 'BSES_quiz' %}"> Try Quiz: BSHRM (Bachelor of Hotel and Restaurant Management)</a></li>
            <li><a href="{% url 'BSFT_quiz' %}"> Try Quiz: BSTM (Bachelor of Science in Tourism Management )</a></li>
        </ul>

       
    </div>
</body>
</html>