{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> College of Engineering and Information Technology</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{% static 'css/ceit_view.css' %}"  type="text/css" rel="stylesheet">

</head>
<body>
  
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <div class="title">
        <a class="navbar-brand"> College of Engineering </a>
        <a class="navbar-brand sc1">and Information Technology</a>
        </div>
      
        <button class="btn btn-outline-success d-flex" ><a href="/cvsu_View">Go Back</a></button>
     
    </div>
  </nav>
  <div class="container mt-4">
    <div class="accordion accordion-horizontal" id="horizontalAccordion">
      <!-- Accordion Item 1 -->
      
      
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Bachelor's<h2>
          </button>
        </h2>
        
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#horizontalAccordion">
          <div class="accordion-body">
            <div class="accordion" id="undergradAccordion">
          <!-- BSABE (Bachelor of Science In Agricultural and Biosystems Engineering-->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingJournalism">
              <button class="accordion-button collapsed course1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseJournalism" aria-expanded="false" aria-controls="collapseJournalism" style="width:20vw">
                <div>
                  <h3 class="course">Bachelor of Science In Agricultural and Biosystems Engineering</h3>
                  <p class="discription">Applies engineering to agriculture and sustainability for careers in agricultural engineering and environmental consultancy.</p>
                </div>
              </button>
            </h3>
            <div id="collapseJournalism" class="accordion-collapse collapse science" aria-labelledby="headingJournalism" data-bs-parent="#undergradAccordion">
              <div class="accordion-body">
                 <b>Bachelor of Science In Agricultural and Biosystems Engineering</b> 
                <p>Focuses on applying engineering principles to agriculture and natural resources, emphasizing sustainable development and innovation. The program covers areas like irrigation, mechanization, and post-harvest technology to enhance agriculture</p>
                <p>Students gain expertise in designing and managing systems for food production, water resources, and environmental conservation. Practical training and fieldwork prepare graduates to address real-world agricultural challenges.</p>
                <p>Career opportunities include roles as agricultural engineers, environmental consultants, or systems designers for agribusinesses, government agencies, and research institutions.</p>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Learn more
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'BSABE_quiz' %}"> Try Quiz: BSABE (Bachelor of Science In Agricultural and Biosystems Engineering </a></li>
                      <li><a class="dropdown-item" href="https://ched.gov.ph/wp-content/uploads/2018/04/CMO-94-s.-2017-BS-Agricultural-and-Biosystems-Engineering.pdf"> CMO: Policies, Standard And Guidelines for Agricultural and Biosystems Engineering </a></li>
                  </ul>
              </div>
              </div>
            </div>
          </div>
          <!-- Bachelor of Science In Architecture  -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingEnglish">
              <button class="accordion-button collapsed course1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEnglish" aria-expanded="false" aria-controls="collapseEnglish" style="width:20vw">
                <div>
                  <h3 class="course">Bachelor of Science In Architecture </h3>
                  <p class="discription">Blendss art, design, and engineering for careers in architecture, urban planning, and design consultancy.</p>
                </div>
                
              </button>
            </h3>
            <div id="collapseEnglish" class="accordion-collapse collapse" aria-labelledby="headingEnglish" data-bs-parent="#undergradAccordion">
              <div class="accordion-body">
                <b>Bachelor of Science In Architecture </b> 
                <p>Prepares students to design buildings and structures with creativity and functionality, focusing on aesthetics, sustainability, and urban planning. The program blends art and science, covering architectural design, history, and building technology.</p>
                <p>Students learn drafting, 3D modeling, and project management, supported by studio work and site visits. The curriculum fosters innovation and critical thinking to create impactful architectural solutions.</p>
                <p>Graduates can work as architects, urban planners, or interior designers. Opportunities also include roles in construction management and landscape architecture.</p>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Learn more
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'BSARCH_quiz' %}"> Try Quiz: BSARCH (Bachelor of Science In Architecture) </a></li>
                      <li><a class="dropdown-item" href="https://ched.gov.ph/wp-content/uploads/2018/04/CMO-No.-61-Series-2017-Policies-Standards-and-Guidelines-for-the-Bachelor-of-Science-in-Architecture-BS-Archi.pdf"> CMO: Policies, Standard And Guidelines for Architecture </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

           <!-- Bachelor of Science In Civil Engineering -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingPolsci">
              <button class="accordion-button collapsed course1" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePolsci" aria-expanded="false" aria-controls="collapsePolsci" style="width:20vw">
                <div>
                  <h3 class="course">Bachelor of Science In Civil Engineering</h3>
                  <p class="discription">Specializes in infrastructure design and construction for careers in civil engineering and project management.</p>
                </div>
               
              </button>
            </h3>
            <div id="collapsePolsci" class="accordion-collapse collapse" aria-labelledby="headingPolsci" data-bs-parent="#undergradAccordion" >
              <div class="accordion-body">
                <b>Bachelor of Science In Civil Engineering</b> 
                <p>Focuses on designing, constructing, and maintaining infrastructure like bridges, roads, and buildings. The program emphasizes structural analysis, geotechnical engineering, and sustainable construction practices.</p>
                <p>Students gain technical skills in surveying, project management, and material testing through practical labs and fieldwork. The curriculum prepares graduates to meet the demands of modern infrastructure development.</p>
                <p>Career paths include civil engineer, structural designer, project manager, or environmental engineer, with opportunities in government and private construction firms.</p>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Learn more
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'BSCE_quiz' %}"> Try Quiz: BSCE (Bachelor of Science In Civil Engineering) </a></li>
                      <li><a class="dropdown-item" href="https://ched.gov.ph/wp-content/uploads/2018/04/CMO-92-s.-2017-BS-Civil-Engineering.pdf"> CMO: Policies, Standard And Guidelines for Civil Engineering </a></li>
                      
                  </ul>
                </div> 
                
              </div>
            </div>
          </div>

          <!-- Bachelor of Science In Computer Engineering -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingAppliedMath">
              <button class="accordion-button collapsed course1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAppliedMath" aria-expanded="false" aria-controls="collapseAppliedMath" style="width:20vw">
                <div>
                  <h3 class="course">Bachelor of Science In Computer Engineering</h3>
                  <p class="discription">Integrates hardware and software engineering for careers in system design, robotics, and AI development.</p>
                </div>
              </button>
            </h3>
            <div id="collapseAppliedMath" class="accordion-collapse collapse " aria-labelledby="headingAppliedMath" data-bs-parent="#undergradAccordion">
              <div class="accordion-body">
                <b>Bachelor of Science In Computer Engineering</b> 
                <p>Combines computer science and electrical engineering to design hardware and software systems. The program emphasizes embedded systems, computer networks, and digital design, preparing students for technology-driven industries.</p>
                <p>Students gain expertise in programming, circuit design, and system optimization, with hands-on training in robotics and microprocessors. The curriculum fosters innovation and problem-solving skills.</p>
                <p>Graduates can work as hardware engineers, system architects, or network specialists, with opportunities in software development and artificial intelligence.</p>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Learn more
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'BSCpE_quiz' %}"> Try Quiz: BSCpE (Bachelor of Science In Computer Engineering) </a></li>
                      <li><a class="dropdown-item" href="https://ched.gov.ph/wp-content/uploads/2018/04/CMO-87-s.-2017-BS-Computer-Engineering.pdf"> CMO: Policies, Standard And Guidelines for Computer Engineering </a></li>
                    
                  </ul>
                </div> 
              </div>
            </div>
          </div>
          

          <!-- Bachelor of Science In Computer Science -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingBio">
              <button class="accordion-button collapsed course1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBio" aria-expanded="false" aria-controls="collapseBio" style="width:20vw"> 
                <div>
                  <h3 class="course">Bachelor of Science In Computer Science</h3>
                  <p class="discription">Emphasizes programming, algorithms, and software development for careers in technology and innovation.</p>
                </div>
              </button>
            </h3>
            <div id="collapseBio" class="accordion-collapse collapse" aria-labelledby="headingBio" data-bs-parent="#undergradAccordion">
              <div class="accordion-body">
                <b>Bachelor of Science In Computer Science</b> 
                  <p>Focuses on computing, programming, and algorithms to solve complex problems. The program emphasizes software development, data structures, and artificial intelligence, fostering innovation in technology.</p>
                  <p>Students gain hands-on experience in coding, systems analysis, and project development, supported by real-world applications and internships. The curriculum prepares graduates for the dynamic tech industry.</p>
                  <p>Career opportunities include software engineer, data scientist, systems analyst, or web developer, with potential in emerging fields like machine learning and cybersecurity.</p>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Learn more
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'BSCS_quiz' %}"> Try Quiz: BSCS (Bachelor of Science In Computer Science)  </a></li>
                        <li><a class="dropdown-item" href="https://www.pacu.org.ph/wordpress/wp-content/uploads/2017/06/CMO-No.25-s2015.pdf"> CMO: Policies, Standard And Guidelines for Computer Science  </a></li>
                    </ul>
                  </div> 
              </div>
            </div>
          </div>

          <!-- Bachelor of Science In Electrical Engineering -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingPsych">
              <button class="accordion-button collapsed course1" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePsych" aria-expanded="false" aria-controls="collapsePsych" style="width:20vw">
                <div>
                  <h3 class="course">Bachelor of Science In Electrical Engineering</h3>
                  <p class="discription">Focuses on electrical systems and energy efficiency for careers in engineering, energy, and automation.</p>
                </div>
              </button>
            </h3>
            <div id="collapsePsych" class="accordion-collapse collapse" aria-labelledby="headingPsych" data-bs-parent="#undergradAccordion">
              <div class="accordion-body">
                <b>Bachelor of Science In Electrical Engineering</b> 
                <p>Prepares students to design, develop, and maintain electrical systems and equipment. The program covers power systems, electronics, and control systems, emphasizing energy efficiency and innovation.</p>
                <p>Students gain skills in circuit analysis, renewable energy systems, and automation through laboratory work and project-based learning. The curriculum equips graduates to address modern energy challenges.</p>
                <p>Graduates can work as electrical engineers, power system analysts, or automation specialists, with opportunities in energy, manufacturing, and telecommunications.</p>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Learn more
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'BSEE_quiz' %}"> Try Quiz: BSEE (Bachelor of Science In Electrical Engineering) </a></li>
                      <li><a class="dropdown-item" href="https://ched.gov.ph/wp-content/uploads/2018/04/CMO-88-s.-2017-BS-Electrical-Engineering.pdf"> CMO: Policies, Standard And Guidelines for Electrical Engineering </a></li>
                  </ul>
                </div> 
              </div>
            </div>
          </div>

          <!--  Bachelor of Science in Industrial Technology  -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingSocialWork">
              <button class="accordion-button collapsed course1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSocialWork" aria-expanded="false" aria-controls="collapseSocialWork" style="width:20vw; text">
                <div>
                  <h3 class="course">Bachelor of Science in Industrial Technology</h3>
                  <p class="discription">Develops technical and managerial skills for careers in industrial technology and operations.</p>
                </div>
              </button>
            </h3>
            <div id="collapseSocialWork" class="accordion-collapse collapse" aria-labelledby="headingSocialWork" data-bs-parent="#undergradAccordion">
              <div class="accordion-body">
                 <b> Bachelor of Science in Industrial Technology</b> 
                <p>Equips students with technical and managerial skills for industrial operations. The program covers manufacturing, maintenance, and quality assurance, emphasizing practical applications and innovation.</p>
                <p>Students gain expertise in technical processes, troubleshooting, and systems management through hands-on training and industry exposure. The curriculum fosters adaptability to modern industrial needs.</p>
                <p>Career paths include industrial technologist, production manager, or quality control specialist. Opportunities also exist in equipment maintenance and operations management.</p>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Learn more
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'BSINDT-AT_quiz' %}"> Try Quiz: BSINDT-AT (Bachelor of Science in Industrial Technology Major In Automotive Technology )</a></li>
                    <li><a href="{% url 'BSINDT-ET_quiz' %}"> Try Quiz: BSINDT-ET (Bachelor of Science in Industrial Technology Major In Electrical Technology )</a></li>
                    <li><a href="{% url 'BSINDT-EX_quiz' %}"> Try Quiz: BSINDT-EX  (Bachelor of Science in Industrial Technology Major In Electronics Technology )</a></li>
                      <li><a class="dropdown-item" href="https://ched.gov.ph/wp-content/uploads/CMO-No.-13-S.-2023-BInd-Tech.pdfee"> CMO: Policies, Standard And Guidelines for Industrial Technology </a></li>
                  </ul>
                </div> 
              </div>
            </div>
          </div>
          <!--  Bachelor of Science in Information Technology -->
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingINFOTECH">
            <button class="accordion-button collapsed course1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseINFOTECH" aria-expanded="false" aria-controls="collapseINFOTECH" style="width:20vw; text">
              <div>
                <h3 class="course">Bachelor of Science in Information Technology</h3>
                <p class="discription">Focuses on IT systems, software, and networking for careers in technology and system administration.</p>
              </div>
            </button>
          </h3>
          <div id="collapseINFOTECH" class="accordion-collapse collapse" aria-labelledby="headingINFOTECH" data-bs-parent="#undergradAccordion">
            <div class="accordion-body">
               <b> Bachelor of Science in Information Technology</b> 
              <p>Prepares students to manage and innovate in IT systems and infrastructure. The program emphasizes database management, networking, and software applications, fostering expertise in technology solutions.</p>
              <p>Students gain skills in web development, cybersecurity, and systems integration, supported by real-world projects and internships. The curriculum prepares graduates for the fast-evolving IT industry.</p>
              <p>Graduates can work as IT specialists, network administrators, web developers, or cybersecurity analysts, with opportunities in diverse industries.<p>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Learn more
                </button>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'BSIT_quiz' %}"> Try Quiz: BSIT (Bachelor of Science in Information Technology)</a></li>
                  <li><a class="dropdown-item" href="https://www.pacu.org.ph/wordpress/wp-content/uploads/2017/06/CMO-No.25-s2015.pdf"> CMO: Policies, Standard And Guidelines for Information Technology </a></li>
                </ul>
              </div> 
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
    
      

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
      

      const mediaQuery = window.matchMedia('(max-width: 768px)');

// Function to handle the click event
function handleClick(event) {
    event.preventDefault();

                // Check if media query matches
                if (mediaQuery.matches) {
                    // If the media query condition is true, hide the element
                    const headingOne = document.querySelector('h2#headingOne');
                    if (headingOne) {
                        headingOne.style.display = 'none';
                    }
                }
            }

            // Add event listener to the element
            const targetElement = document.querySelector('[data-bs-target="#collapseOne"]');
            if (targetElement) {
                targetElement.addEventListener('click', handleClick);
            }
      document.querySelector('[data-bs-target="#collapseOne"]').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default action of the link
  
        // Change the background to the image
        document.body.style.backgroundImage = "url('/static/images/CEIT_view.png')"; 
        // collapse open accordions
        const collapsibleElements = document.querySelectorAll('.accordion-collapse');
        collapsibleElements.forEach((element) => {
          if (element.classList.contains('show')) {
            const collapseInstance = bootstrap.Collapse.getInstance(element) || new bootstrap.Collapse(element);
            collapseInstance.hide();
    }
  });
  
  
      
      });
      document.querySelector('[data-bs-target="#collapseJournalism"]').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default action of the link
  
        // Change the background to the image
        document.body.style.backgroundImage = "url('/static/images/BSABE.png')"; 
  
        // Optionally, hide the link once clicked (if you want)
        this.style.display = 'flex';
        
      });
      document.querySelector('[data-bs-target="#collapseEnglish"]').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default action of the link
  
        // Change the background to the image
        document.body.style.backgroundImage = "url('/static/images/BSARCH.png')"; 
  
  
        // Optionally, hide the link once clicked (if you want)
        this.style.display = 'flex';
      });
      document.querySelector('[data-bs-target="#collapsePolsci"]').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default action of the link
  
        // Change the background to the image
        document.body.style.backgroundImage = "url('/static/images/BSCE.png')"; 
  
  
        // Optionally, hide the link once clicked (if you want)
        this.style.display = 'flex';
      });
      document.querySelector('[data-bs-target="#collapseAppliedMath"]').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default action of the link
  
        // Change the background to the image
        document.body.style.backgroundImage = "url('/static/images/BSCOME.png')"; 
  
  
        // Optionally, hide the link once clicked (if you want)
        this.style.display = 'flex';
      });
      document.querySelector('[data-bs-target="#collapseBio"]').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default action of the link
  
        // Change the background to the image
        document.body.style.backgroundImage = "url('/static/images/BSCS.png')"; 
  
  
        // Optionally, hide the link once clicked (if you want)
        this.style.display = 'flex';
      });
      document.querySelector('[data-bs-target="#collapsePsych"]').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default action of the link
  
        // Change the background to the image
        document.body.style.backgroundImage = "url('/static/images/BSEE.png')"; 
  
  
        // Optionally, hide the link once clicked (if you want)
        this.style.display = 'flex';
      });
      document.querySelector('[data-bs-target="#collapseSocialWork"]').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default action of the link
  
        // Change the background to the image
        document.body.style.backgroundImage = "url('/static/images/BSIE.png')"; 
  
  
        // Optionally, hide the link once clicked (if you want)
        this.style.display = 'flex';
      });
      document.querySelector('[data-bs-target="#collapseINFOTECH"]').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default action of the link
  
        // Change the background to the image
        document.body.style.backgroundImage = "url('/static/images/BSIT.png')"; 
  
  
        // Optionally, hide the link once clicked (if you want)
        this.style.display = 'flex';
      });
      
    </script>
</body>
</html>

