<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Home</title>
    
</head>
<body>
    <div class="container">
        <h1>Welcome to the College of Engineering and Information Technology</h1>
        <p>Test your knowledge with our quizzes.</p>

        <h2>Available Quizzes:</h2>
        <ul>
            <li><a href="{% url 'BSABE_quiz' %}"> Try Quiz: BSABE (Bachelor of Science In Agricultural and Biosystems Engineering)</a></li>
            <li><a href="{% url 'BSARCH_quiz' %}"> Try Quiz: BSARCH (Bachelor of Science In Architecture ) </a></li>
            <li><a href="{% url 'BSCE_quiz' %}"> Try Quiz: BSCE (Bachelor of Science In Civil Engineering) </a></li>
            <li><a href="{% url 'BSCpE_quiz' %}"> Try Quiz: BSCpE (Bachelor of Science In Computer Engineering) </a></li>
            <li><a href="{% url 'BSE-SS_quiz' %}"> Try Quiz: BSE-SS (Bachelor of Science In Computer Science) </a></li>
            <li><a href="{% url 'BSCS_quiz' %}"> Try Quiz: BSCS (Bachelor of Science In Electrical Engineering)</a></li>
            <li><a href="{% url 'BSIE_quiz' %}"> Try Quiz: BSIE (Bachelor of Science In Industrial Engineering)</a></li>
            <li><a href="{% url 'BSIE-AT_quiz' %}"> Try Quiz: BSIE-AT (Bachelor of Science in Industrial Technology Major In Automotive Technology )</a></li>
            <li><a href="{% url 'BSIT-ElecTech_quiz' %}"> Try Quiz: BSIT-ElecTech (Bachelor of Science in Industrial Technology Major In Electrical Technology )</a></li>
            <li><a href="{% url 'BSIT-Electronics_quiz' %}"> Try Quiz: BSIT-Electronics (Bachelor of Science in Industrial Technology Major In Electronics Technology )</a></li>
            <li><a href="{% url 'BSIT_quiz' %}"> Try Quiz: BSIT (Bachelor of Science in Information Technology)</a></li>
            <li><a href="{% url 'BSOA_quiz' %}"> Try Quiz: BSOA (Bachelor of Science in Office Administration)</a></li>
        </ul>

       
    </div>
</body>
</html>
