<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Home</title>
    
</head>
<body>
    <div class="container">
        <h1>Welcome to the CEMDS!</h1>
        <p>Test your knowledge with our quizzes.</p>

        <h2>Available Quizzes:</h2>
        <ul>
            <li><a href="{% url 'BSE-ENGL_quiz' %}"> Try Quiz: BSA Major In  Business Economics(Bachelor of Science in Accountancy) </a></li>
            <li><a href="{% url 'BSE-FILI_quiz' %}"> Try Quiz: BSE(Bachelor of Science in Business Management) </a></li>
            <li><a href="{% url 'BSE-MATH_quiz' %}"> Try Quiz: BSDM (Bachelor of Science in Development Management) </a></li>
            <li><a href="{% url 'BSE-SCIE_quiz' %}"> Try Quiz: BSIS (Bachelor of Science in International Studies) </a></li>
        
        </ul>

       
    </div>
</body>
</html>