<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Home</title>
    
</head>
<body>
    <div class="container">
        <h1>Welcome to the CON!</h1>
        <p>Test your knowledge with our quizzes.</p>

        <h2>Available Quizzes:</h2>
        <ul>
            <li><a href="{% url 'BSMT_quiz' %}"> Try Quiz: BSMT (Bachelor of Science in Medical Technology) </a></li>
            <li><a href="{% url 'BSM_quiz' %}"> Try Quiz: BSM (Bachelor of Science in Midwifery) </a></li>
            <li><a href="{% url 'BSN_quiz' %}"> Try Quiz: BSN (Bachelor of Science in Nursing) </a></li>
        </ul>

       
    </div>
</body>
</html>
