<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Home</title>
    
</head>
<body>
    <div class="container">
        <h1>Welcome to the Quiz Application!</h1>
        <p>Test your knowledge with our quizzes.</p>

        <h2>Available Quizzes:</h2>
        <ul>
            <li><a href="{% url 'cspear_quiz' %}"> CSPEAR QUESTIONS</a></li>
            <li>Quiz 2: Science</a></li>
            <li>Quiz 3: Mathematics</a></li>
        </ul>

       
    </div>
</body>
</html>