h1 {
    color: #fff206 !important;
    font-family: 'Times New Roman', serif !important;
    text-decoration: none !important;
    font-size: 3rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
    height: 5vh !important;
    margin-top: 2vh !important;
    text-align: center !important;
    align-items: center !important;
   
}

.results {
    background: #fff75d;
    width: inherit;
    display: flex;
    margin-bottom: 3px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
button:hover {
    background: #fff00a;
   
  }
button {
background: #fff75d;
border-radius: 5px;
padding: 10px;
}
label {
    background: #fff75d ;
    width: inherit;
    display: flex;
    padding: 10px;
    margin-bottom: 3px;
    border-radius: 10px;
}
.questions {
  
    display: flex;
    flex-direction: column;
    width:80vw;
    margin-left: 5vw;
}
div#id_answer_q1, div#id_answer_q2, div#id_answer_q3 {
    background: #fff75d;
    border-radius: 10px;
    top: -13;
    width: inherit;
}
body {
    background: #242424 !important;
}
label:hover {
    background: #fff200;
}

.allcontent {
    display: flex;

    height: 40%;
}
.sideshow {
    width: 30vw;
    height: 100%;
    margin-left: 5vw;
    margin-right: 10vw;
    border-radius: 10px;
}
.carousel {
    position: relative;
    background: aquamarine;
    border-radius: 10px;
}
.carousel-item {
    border-radius: 10px;
}
img, svg {
    border-radius: 10px;
}
button {
    border-radius: 10px !important;
}
@media (max-width: 1200px) {
    .questions{
        width: 80vw;
        margin: auto;
    }
    label {
        width: inherit;
    }
    h1 {
        
        font-size: 1.2rem;
    }
}