h1 {
    -webkit-text-stroke: thin;
    color: #fff206;
}
label, p {
    background: #fff75d;
    width: 80vw;
    display: flex;
    padding: 10px;
    margin-bottom: 3px;
    border-radius: 10px;
}

body {
    background: #242424;
}
label:hover {
    background: #fff200;
}

@media (min-width: 1200px) {
    label, p {
        width: 50vw;
    }
}