h1 {
    color: #fff206;
    font-family: 'Times New Roman', serif;
    text-decoration: none;
    font-size: 3rem;
    margin-left: auto;
    margin-right: auto;
    height: 5vh;
    margin-top: 2vh;
    text-align: center;
    align-items: center;
   
}
.results {
    background: #fff75d;
    width: 50vw;
    display: flex;
    margin-bottom: 3px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
label {
    background: #fff75d;
    width: 80vw;
    display: flex;
    padding: 10px;
    margin-bottom: 3px;
    border-radius: 10px;
}
.questions {
    align-items: center;
    display: flex;
    flex-direction: column;
}
div#id_answer_q1, div#id_answer_q2, div#id_answer_q3 {
    background: #fff75d;
    border-radius: 10px;
    top: -13;
}
body {
    background: #242424;
}
label:hover {
    background: #fff200;
}

@media (max-width: 1200px) {
    label {
        width: 50vw;
    }
    h1 {
        
        font-size: 1.2rem;
    }
}