* {
    font-family:cursive;
}

div {
    background-color: rgb(135 214 207);
    
}
ul {
    background-color: rgb(203 255 231);
    list-style-type: none;
    margin-bottom: 0%;
}
h1, h3{
    margin-top: 0%;
    text-align: center;
    background-color: rgb(196 255 200);
    padding-bottom:3px;
    color:#303030cc;
}
p {
    text-align: center;
    margin: 1px;
}
form {
    text-align: center;
    margin-bottom: 0px;
}
html, body {
    background-color: rgb(226 255 211);
}  
body {
    margin: 0px;
}  
button {
    margin-top: 2px;
    padding: 10px;
    background-color: #ffffff;
    border:active;
    border-color:#9eff326b;
    border-radius:220px;
}
button:hover{
color:#00ffad;
}
.button {
    margin-top: 2px;
    padding: 10px;
    background-color: #ffffff;
    border: black;
    border-style: solid;
    border-color:#9eff3285;
    border-radius: 220px;
    border-width: 2px;
    text-decoration: none;
    color:black;
}
.button:hover{
color:#00ffad;
}


