/* Reset styles for headings and list items */
.no-tailwindcss-base h1,
.no-tailwindcss-base h2,
.no-tailwindcss-base h3,
.no-tailwindcss-base h4 {
    font-size: revert;
    font-weight: revert;
}

.no-tailwindcss-base ul,
.no-tailwindcss-base ol {
    list-style: revert;
    margin: revert;
    padding: revert;
}

.no-tailwindcss-base li {
    margin: revert;
    padding: revert;
}
@media screen and (max-width: 500px){
    a.z-20.block.p-4.transition-all.border-2.border-white.rounded-full.active\:bg-blue-50.hover\:scale-110.focus\:outline-none.focus\:ring {
        margin-left:0;
    }
     a.z-30.block.p-4.text-green-700.transition-all.bg-green-100.border-2.border-white.rounded-full.hover\:scale-110.focus\:outline-none.focus\:ring.active\:bg-gren50 {
         margin-left:0;
     }
     .flex {
         display: flex;
         flex-direction: column;
         margin-left: 0;
     }
        
 }