.rating__star {
    cursor: pointer;
}

.rating_active {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/star-fill.png");
}

.rating_inactive {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/star-border.png");
}
 blockquote.p-6.border.border-gray-100.rounded-lg.shadow-lg.bg-white {
        display: grid;
    }

blockquote.p-6.border.border-gray-100.rounded-lg.shadow-lg.bg-white {
    display: grid;
}
@media screen and (max-width: 500px){
    .grid.xs\:grid-cols-1.sm\:grid-cols-2.md\:grid-cols-2.lg\:grid-cols-3.gap-4{
        display: flex;
        flex-direction: column;
        margin-bottom: -100px;
        
    }
    p.text-lg.text-neutral-900 {
    font-size: .9rem;
}
p.text-slate-400.break-words {
    font-size: 0.7rem;
}
    .swiper-slide {
    width: 80vw;
    right: 25px;
    position: relative;
}
   .p-4 {
       margin: auto;
   }
   .swiper-slide.sw {
    justify-content: revert;
    left: -60px;
    top: -50px;
}
   
    a {
        transform:scale(0.7);
    }   
} 